<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> 
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag	'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  </head>
    <body>
      <nav class="navbar navbar-inverse navbar-top navbar-fixed-top">
        <div class="container-fluid">
          <div class="container">
            
            <div class="navbar-header">
              
           <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
             <span class="sr-only">Toggle navigation</span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
           </button>
           <a class="navbar-brand" href="/">Tortuga</a>
         </div>
         <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">menus <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Article", articles_path %></li>
                  <% if current_user.present? && current_user.role == "admin" %>

                  <li><%= link_to "Manage Users", users_path %></li>
                  <% end %>
                </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Profile <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <% if user_signed_in? %>
                    <li><%= link_to "Edit profile", edit_user_path(current_user) %></li>
                    <% else %>
                    <li><%= link_to "Sign up", signup_path %></li>
                    <li><%= link_to "Login", login_path %></li>
                    <% end %>
                    <% if user_signed_in? %>
                    <li role="separator" class="divider"></li>
                    <li><%= link_to "Logout", logout_path %></li>
                    <% end %>
                  </ul>
                </li>
              </ul>
          </div>
          </div>
        </div>
      </nav>
      <div id="main-container" class="container">
          <div class="error"><%= flash[:success] %></div>
          <div class="error"><%= flash[:error] %></div>
          <div class="error"><%= flash[:alert] %></div>

        <%= yield %>
      </div>

    
  </body>
</html>
